<!DOCTYPE html>
<html lang="en">
	<head>
		<title>insta485</title>
		<link rel="stylesheet" href="/../static/css/style.css">
	</head>
	<body style="background-color: azure;">
		<a href ="{{url_for('show_index')}}"><img style="margin-left:auto; margin-right: auto;" src="{{url_for('static',filename='images/logo.jpg')}}" alt = "Logo" class="logo"></a>
		<div style="margin-right:0;margin-left:auto">
        	<a href ="{{url_for('show_explore')}}" style = "text-decoration: none;font-size:30px;">explore</a> | <a href="{{url_for('show_user',user=logname)}}" style="text-decoration: none;font-size:30px;margin-right:0;margin-left:auto;">{{logname}}</a>
		</div>
        {% block content %}
		
		{% endblock %}
	</body>
</html>


<!---->